/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;

}

:root {
    --main-bg: '#D04848',

}

.image {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

/* .bg-main {
    background-color:#D04848 !important;
} */